* {
    margin: 0;
    padding: 0;
}

#cabecalho {
    background-color: #1E6994;
    width: 100%;
    padding: 2%;

    img {
        width: 20%;
        height: auto;
    }

}

container {
    text-align: center;
}

#div-form-login {
    padding-inline: 20%;
}