@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Teachers", sans-serif;
}

.classe-do-cadastro {
    position: absolute;
    top: 360px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
}

header {
    background-color: #1E6994;
    width: 100%;
}

header > img {
    width: 110px;
    height: 40px;
    margin: 15px;
}

.botao-voltar {
    border: 0;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
}

.seta-para-esquerda {
    width: 25px;
    height: 15px;
    margin-right: 8px;
}

.faca-seu-cadastro {
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: larger;
}

input {
    border-radius: 50px;
    border-width: 1px;
    width: 100%;
    height: 35px;
    font-size: large;
    padding-left: 10px;
}

.divisao-1-formulario{
    display: grid;
    gap: 10px;
}

.divisao-2-formulario {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
}

.botao-seguinte {
    background-color: #00BF63;
    border: 0;
    border-radius: 50px;
    padding-block: 12px;
    font-size: large;
    font-weight: 700;
}

.div-passos-cadastro {
    text-align: center;
}

.passos-cadastro-img {
    width: 120px;
    height: 70px;
}

