body{
    margin: 0%;
}
.textoLinha{
    background-image: linear-gradient(to right, #0EAB5F, #78DDAC);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 50px;  
    font-size: large;
}
.textoLinha h3{
    padding: 13px;
}


