@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Teachers", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

form {
    font-size: 140%;
}

header {
    background-color: #1E6994;
    width: 100%;
}

header > img {
    width: 110px;
    height: 40px;
    margin: 15px;
}

.classe-do-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.botao-voltar {
    border: 0;
    background-color: transparent;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 10vw;
    font-size: 140%;
    outline-width: 1px;
    text-wrap:nowrap;
}

.seta-para-esquerda {
    width: 25px;
    height: 15px;
    margin-right: 8px;
}

.faca-seu-cadastro {
    margin-bottom: 50px;
    margin-left: 10vw;
}

.paragrafo-informacoes-cadastro {
    font-size: larger;
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80vw;
    label {
        margin-left: 10px;
    }
}

input, select {
    border: solid 1px;
    border-radius: 50px;
    width: 100%;
    height: 150%;
    font-size: 110%;
    padding-left: 10px;
}

.divisoes-formulario {
    display: grid;
    gap: 10px;
}

.divisao-1-formulario {
    margin-bottom: 170px;
}

.divisao-2-formulario {
    margin-bottom: 38px;
}

.divisao-3-formulario {
    margin-bottom: 145px;
}

.botao-seguinte {
    text-align: center;
    background-color: #00BF63;
    border: 0;
    border-radius: 50px;
    block-size: 60px;
    font-weight: 600;
    min-width: 80vw;
    font-size: 105%;
}

.div-passos-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-bottom: 30px;
}

.passos-cadastro-img {
    width: 140px;
    height: 30px;
    margin-top: 30px;
}

@media (max-height: 860px) {
    .div-passos-cadastro {
        max-height: 30vh;
    }
}