body, .container, html{
    background-color: #1E6994;
    height: 100%;
}
.container{
    display: flex;
  align-items: center;
  justify-content: center;
}

.EP {
    position: absolute;
    margin: auto;
}

.EP img{
    width: 100%;
    max-width: 850px;
}

.Pre {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: absolute;
    height: 85vh;
    width: 50vw;
}
.Pre img{
    width: 60%;
    max-width: 150px;
}
