body, .container, html{
    background-color: #1E6994;
    height: 100%;
}
.container{
    display: flex;
  align-items: center;
  justify-content: center;
}

.EP {
    position: absolute;
    margin: auto;
}

.EP img{
    width: 100%;
}

.Pre {
    position: absolute;
    margin: auto;
}
.Pre img{
    margin-top: 700px;
    width: 130px;
}