@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Teachers", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

/*Página incial da seção: conta*/

#nav-botao-configuracoes {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100vw;
    height: 8vh;
    img {
        width: auto;
        height: 3.8vh;
        margin-right: 25px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.9vh;
}

#div-botao-editar-perfil {
    text-align: center;
    width: 100vw;
}

#div-foto-de-perfil-conta { 
    height: 10vh;
    margin: 15px auto;
    position: relative;

    #img-foto-de-perfil-conta {
        width: auto;
        height: 10.2vh;
        margin: 0px auto;
    }
}

#icone-edicao-foto-perfil {
    height: 2.4vh;
    width: auto;
    position: absolute;
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
}

#botao-editar-perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    max-width: 400px;
    min-width: 100px;
    height: 4vh;
    margin-inline: auto;
    background-color: #023859;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 20px;
    box-shadow: rgb(74, 74, 74) 0px 20px 30px -10px;

    color: white;
    font-size: 2.2vh;
    font-weight: 600;
    letter-spacing: 6%;

    img {
        height: 2.4vh;
        width: auto; 
        margin-right: 4%;
    }

    div {
        width: 11%;
    }
}

#secao-conquistas {
    background-color: #023859;
    color: white;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: 90vw;
    max-width: 1500px;
    border-radius: 40px;
    margin-top: 50px;
    box-shadow: rgb(74, 74, 74) 0px 20px 30px -10px;
}

#titulo-secao-conquistas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3vh 6vw;
    font-size: 1.8vh;

    img {
        height: 4vh;
        width: auto;
    }
}

#body-secao-conquistas {
    margin-inline: 6vw;
    img {
        height: 4vh;
        width: auto;
    }
}

.topicos-secao-conquista {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 2vh;
    margin-bottom: 3vh;
}

#div-visualizar-tudo {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 3vh;
    svg {
        height: 2vh;
        width: auto;
    }
}

#button-ver-tudo-conquistas {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    text-decoration: none;
    font-size: 2.2vh;
    margin-top: 1vh;
}

/*Aba de edição de dados do perfil*/

#fundo-editar-perfil-fechar {
    width: 100vw;
    height: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}

#edicao-de-perfil {
    height: 96vh;
    width: 95vw;
    max-width: 800px;
    background-color: #023859;
    overflow-x: hidden;
    z-index: 1;
    border-radius: 30px;
    margin-inline: auto;
    margin-top: 8vh;
}

.opcoes-edicao-do-perfil, #fechar-edicao-perfil-botao {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2.2vh;
}

.opcoes-edicao-do-perfil {
    height: 6vh;
    justify-content: space-between;
    color: #ffffff;
}

#fechar-edicao-perfil-botao {
    margin-top: 2vh;
    margin-bottom: 1vh;
    justify-content: center;

    a {
        display: flex;
        width: fit-content;
        align-items: center;
        text-decoration: none;
        font-size: 2vh;
        font-weight: 500;
        color: #023859;
        background-color: #ffffff;
        gap: 1vw;
        border-radius: 30px;
        padding: 0.8vh 2vw;
    }
}

.linha-branca-divisao {
    height: 0.2%;
    width: 90%;
    margin-inline: auto;
    background-color: #ffffff;
    border-radius: 150px;
}

.margem-esquerda-edicao-perfil {
    margin-left: 8%;
}

.margem-direita-edicao-perfil {
    margin-right: 8%;
}

/*Aba de edição da foto de perfil*/

#fundo-editar-foto-de-perfil {
    width: 100vw;
    height: 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

#conteudo-opcoes-foto {
    width: 80%;
    height: 100%;
    max-width: 500px;
    margin-inline: auto;
}

.botao-branco {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 2.3vh;
 }

.opcoes-de-foto-perfil {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}

.imagens-opcoes-para-de-foto-perfil {
    height: 30%;
    width: 30%;
    max-width: 151px;

    img {
        height: 100%;
        width: 100%;
        clip-path: circle(50%);
        border: 0.5vw solid #ffffff;
        border-radius: 100%;
        /*filter: grayscale(70%);*/ /*Faz a imagem ficar sem cores*/
    }
}

/* Parte de navegação entre seções */

footer {
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 100%;
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #023859;
}

.botoes-navegacao-secoes {
    margin-inline: 9%;
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vh;
        color: #ffffff;
        text-decoration: none;
        font-size: 1.6vh;

        img {
            height: 2.5vh;
            width: auto;
        }
    }
}

.botao-clicado-barra-de-nav {
    border: 0.4vh solid #ffffff;
    border-radius: 30px;
    background-color: #ffffff;
}

/*----------------- CONFIGURAÇÕES ---------------- */

#body-configuracoes {
    padding-left: 5%;
}

.div-botao-voltar {
    padding-top: 10%;
    width: fit-content; /*width se adequa ao conteúdo*/
    margin-bottom: 10%;
}

.botao-voltar {
   display: flex;
   align-items: center;
   text-decoration: none;
   color: #000000;
   font-size: 2.3vh;
}

.seta-para-esquerda {
    height: 2vh;
    width: auto;
    margin-right: 8px;
}

#p-configuracoes {
    font-size: 2.8vh;
}