/*Fonte Importada*/
@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #1E6994;
    width: 100%;

    img {
        width: 110px;
        height: 40px;
        margin: 15px;
    }

}

#barra-navegacao {
    background-color: #1E6994;
    position: fixed;
    bottom: 0%;
    width: 100%;
    display: flex;
    justify-content: space-around;

    div {
        text-align: center;
    }
    

    p {
        color: white;
        font-size: 80%;
        font-weight: 500;
    }

    button {
        border-radius: 50%;
        border: none;
        height: 2.5vh;
        width: 2.5vh;
        
    }
}

.icones-barra-navegacao {
    height: 1.5vh;
    object-position: left;
}

#botao-branco-barra-navegacao {
    background-color: white;
}

/*---------------------- TELA INICIAL -------------------*/

#body-tela-inicial {
    font-family: "Teachers", sans-serif;
}

#inicio-parte-amarela {
    background-color: #FFEE82;
    height: 90vh;
    padding-top: 8vh;
}

#frase-educa-transito {
    background-color: #1E6994;
    width: 55%;
    text-align: center;
    border-top-right-radius: 50px;
    padding-block: 1.5vh;
    padding-inline: 1vh;

    p {
        color: white;
        font-weight: bold;
    }
}

#frase-efeito-inicial {
    background-color: white;
    text-align: center;
    padding-block: 2vh;
    padding-inline: 3vh;
    
    p {
        color: #0EAB5F;
        font-weight: 400;
        font-size: 2.5vh;
    }
}

#imagens-tela-inicial{
    img {
        display: block;
        aspect-ratio: 1/1; /* deixa a imagem quadrada, mas ao mesmo tempo distorce ela */
        object-fit: cover; /* recorta a imagem e evita a distorção que a propriedade anterior causou */
        border-radius: 50%;
    }
}

#carros-circulacao {
    height: 12vh;
    position: relative;
    top: 5vh;
    left: 23vh;
}

#placas-transito {
    height: 18vh;
    object-position: 0% 50%;
    position: relative;
    top: 2vh;
    left: 5vh;
}

#vaga-cadeirante {
    height: 16vh;
    object-position: 30% 50%;
    position: relative;
    top: -8vh;
    left: 27vh;
}

/*---------------------- JOGAR1 -------------------*/

#body-telas-jogar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #f2f2f2;
}

.series-iniciais{
    background-image: linear-gradient(to right, #0EAB5F, #78DDAC);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100px;  
    width: 100vw;
    font-size: 3vh;
    margin-bottom: 50px;

        h3{
    padding: 13px;
    color: #f2f2f2;
    margin: 10px;
}
}

.slogan-series-iniciais{
    background-color:#0EAB5F;
    padding: 20px;
    float: left;
    width: 29%;
    margin-bottom: 50px;

        p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color: #f2f2f2;
    font-weight: bold;
    }
}
.jogar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
}
#botao-jogar{
    width: 150px;
    height: 40px;
    font-size: larger;
    border-radius:20px;
    background-color: #52D898;
    border: 0px;
    color: #f2f2f2;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.imagem-series-iniciais{
    display: flex;
    text-align: end;
    height: 60vh;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;

    img{
        width: auto;
        height: 100%;
    }
}
/*---------------------------JOGAR2----------------------------------*/

.series-finais{
    background-image: linear-gradient(to right, #F2B807, #F2D06B);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100px;  
    width: 100vw;
    font-size: 3vh;
    margin-bottom: 50px;

    h3{
        padding: 13px;
        color: #000000;
        margin: 10px;
}
}

.slogan-series-finais{
    background-color: #F2D06B;
    padding: 20px;
    float: left;
    width: 29%;
    margin-bottom: 50px;
    p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        color: #000000;
        font-weight: bold;
}
}

.jogar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
}

#botao-jogar-2{
    width: 150px;
    height: 40px;
    font-size: larger;
    border-radius:20px;
    background-color: #F2B807;
    border: 0px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imagem-series-finais{
    display: flex;
    text-align: initial;
    height: 60vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
    align-items: flex-end;

    img{
        width: auto;
        height: 100%;
    }
}
/*---------------------------JOGAR3----------------------------------*/
.ensino-medio{
        background-image: linear-gradient(to right, #F21D2F, #e25561);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        height: 100px;  
        width: 100vw;
        font-size: 3vh;
        margin-bottom: 50px;
    h3{
        padding: 13px;
        color: #f2f2f2;
}
}

.slogan-ensino-medio{
        background-color: #e25561;
        padding: 20px;
        float: left;
        width: 29%;
        margin-bottom: 50px; 
    p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        color: #f2f2f2;
        font-weight: bold;
}
}

.jogar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
}

#botao-jogar-3{
    width: 150px;
    height: 40px;
    font-size: larger;
    border-radius:20px;
    background-color: #F21D2F;
    border: 0px;
    color: #f2f2f2;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imagem-ensino-medio{
    display: flex;
    text-align: end;
    height: 60vh;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;

    img{
        width: auto;
        height: 100%;
    }
}
