/*---------------------- TELA INICIAL -------------------*/

#body-tela-inicial {
    font-family: "Teachers", sans-serif;
    height: 200vh;
    width: 100%;
}

#inicio-parte-amarela {
    background-color: #f2d06b;
    height: 80vh;
    padding-top: 8vh;
}

#frase-educa-transito {
    background-color: #023859;
    width: 55%;
    text-align: center;
    border-top-right-radius: 50px;
    padding-block: 1.5vh;
    padding-inline: 1vh;

    p {
        color: white;
        font-weight: bold;
    }
}

#frase-efeito-inicial {
    background-color: white;
    text-align: center;
    padding-block: 2vh;
    padding-inline: 3vh;
    
    p {
        color: #0EAB5F;
        font-weight: 400;
        font-size: 2.5vh;
    }
}

 #container-imagens-tela-inicial {
    display: flex;
    justify-content: center;
}

#div-imagens-tela-inicial{
    img {
        display: block;
        aspect-ratio: 1/1; /* deixa a imagem quadrada, mas ao mesmo tempo distorce ela */
        object-fit: cover; /* recorta a imagem e evita a distorção que a propriedade anterior causou */
        border-radius: 50%;
    }
}

#carros-circulacao {
    height: 12vh;
    position: relative;
    top: 5vh;
    left: 20vw;
}

#placas-transito {
    height: 18vh;
    object-position: 0% 50%;
    position: relative;
    top: 3vh;
    right: 15vw;
}

#vaga-cadeirante {
    height: 16vh;
    object-position: 30% 50%;
    position: relative;
    bottom: 1vh;
    left: 18vw;
}

#section-videos-tela-inicial {
    width: 100%;
    h3 {
        width: 50%;
        padding-top: 3%;
        padding-left: 5%;
        font-size: larger;
        height: 10vh;
        align-items: center;
    }
    p {
        text-align: center;
        padding: 1%;
        font-size: larger;
    }
}

#video-tela-inicial {
    background-color: #B4F1D4;
    display: flex;
    justify-content: center;
    padding-block: 5%;
    padding-inline: 10%;
    video {
        width: 80%;
    }
}

/*---------------------- TELAS DOS NÍVEIS DE ENSINO - JOGAR -------------------*/

#body-telas-jogar {
    display: flex;
    flex-direction: column;
}

.titulos-telas-jogar {
    font-family: "Teachers", sans-serif;
    font-size: 3vh;
    margin-bottom: 50px;
    height: 100px;  
    width: 100vw;

    h3 {
        padding: 13px;
        margin: 3vh 0 0 10px;
    }
}

#series-iniciais {
    background-image: linear-gradient(to right, #0EAB5F, #78DDAC);
    
    h3 {
        color: #f2f2f2;
    }
}

#series-finais {
    background-image: linear-gradient(to right, #F2B807, #F2D06B);
    
    h3 {
        color: #000000;
    }
}

#ensino-medio{
    background-image: linear-gradient(to right, #F21D2F, #e25561);
    
    h3{
        color: #f2f2f2;
    }
}

.slogan-telas-jogar {
    padding-block: 2vh;
    padding-inline: 4vw 6vw;
    float: left;
    width: fit-content;
    margin-bottom: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    p {
        font-family: 'Plus Jakarta Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        font-weight: bold;
        word-spacing: 0.3vw;
    }
}

#slogan-series-iniciais{
    background-color:#0EAB5F;
    p {
        color: #f2f2f2;
    }
}

#slogan-series-finais{
    background-color: #F2D06B;
    p {
        color: #000000;
    }
}

#slogan-ensino-medio{
    background-color: #e25561;
    padding: 20px;
    float: left;
    width: 29%;
    margin-bottom: 50px;
    
    p {
        font-family: 'Plus Jakarta Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        color: #f2f2f2;
        font-weight: bold;
    }
}

.jogar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
}

.botao-jogar {
    width: 150px;
    height: 40px;
    font-size: larger;
    border-radius:20px;
    border: 0px;
    font-weight: bold;
    font-family: 'Plus Jakarta Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#botao-jogar-series-iniciais {
    background-color: #52D898;
    color: #f2f2f2;
}

#botao-jogar-series-finais {
    background-color: #F2B807;
    color: rgb(0, 0, 0);
}

#botao-jogar-ensino-medio {
    background-color: #F21D2F;
    color: #f2f2f2;
}

.imagens-telas-jogar {
    display: flex;
    height: 60vh;
    flex-wrap: wrap;

    img{
        width: auto;
        height: 100%;
    }
}

#imagem-series-iniciais {
    text-align: end; 
    flex-direction: row-reverse;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
}

#imagem-series-finais {
    text-align: initial;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-end;
    align-items: flex-end;
}

#imagem-ensino-medio {
    text-align: end;
    flex-direction: row-reverse;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
}