@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Teachers", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    background-color: #1E6994;
    width: 100%;

    img {
        width: 110px;
        height: 40px;
        margin: 15px;
    }

}

/*------------------------ LOGIN ------------------------------*/
#container {
    position: relative;
    top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 3vh;
}

#h1-login {
    font-weight: 500;
    font-size: 2.5vh;
}

#form-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    font-size: 2.5vh;

    div {
        width: 80%;
    }
}

.input-login {
    height: 4.5vh;
}

#botao-login {
    background-color: #00BF63;
    width: 80%;
    height: 5.5vh;
    border: 0;
    border-radius: 50px;
    font-size: 2.5vh;
    font-weight: 600;
}


/*------------------------ FINAL LOGIN ------------------------------*/
.classe-do-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.botao-voltar {
    border: 0;
    background-color: transparent;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 10vw;
    font-size: 140%;
    outline-width: 1px;
    text-wrap: nowrap;
}

.seta-para-esquerda {
    width: 25px;
    height: 15px;
    margin-right: 8px;
}

.faca-seu-cadastro {
    margin-bottom: 50px;
    margin-left: 10vw;
}

.paragrafo-informacoes-cadastro {
    font-size: larger;
}

.forms-do-cadastro {
    font-size: 140%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80vw;
    label {
        margin-left: 10px;
    }
}

input, select {
    border: solid 1px;
    border-radius: 50px;
    width: 100%;
    height: 150%;
 
    font-size: 11%;
    padding-left: 10px;
}

.divisoes-formulario {
    display: grid;
    gap: 10px;
}

.divisao-1-formulario {
    margin-bottom: 19vh;
}

.divisao-2-formulario {
    margin-bottom: 5vh;
}

.divisao-3-formulario {
    margin-bottom: 16.2vh;
}

.botao-seguinte {
    text-align: center;
    background-color: #00BF63;
    border: 0;
    border-radius: 50px;
    height: 5.5vh;
    font-weight: 600;
    min-width: 80vw;
    font-size: 105%;
}

.div-passos-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-bottom: 30px;
}

.passos-cadastro-img {
    width: 140px;
    height: 30px;
}